<section>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Add Product</h2>
            <form action="/admin/editproduct/{{productDetails._id}}" method="post" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" value="{{productDetails.name}}"
                    placeholder="Product Name">
                </div>

                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="category" value="{{productDetails.category}}" placeholder="Category">
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" class="form-control" name="price" value="{{productDetails.price}}" placeholder="Price">
                </div>

                <div class="form-group">
                    <label for="image">Image</label>
                    <br>
                    <img src="/product_images/{{productDetails._id}}.jpg" alt="{{productDetails.name}}" id="viewImg" style="width: 100px;height=100px;">
                    <br><br>
                    <input type="file" class="form-control" name="image"
                    placeholder="Product Image" onchange="viewImage(event)">
                </div>
                <button type="submit" class="btn btn-success">Update Product</button>
                <a href="/admin" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
</section>
<script>
    function viewImage(event){
        document.getElementById('viewImg').src=URL.createObjectURL(event.target.files[0])
    }
</script>
