<div class="flexclass">
    <div class="col-md-6 ">
        <section>
            <div class="container mt-5 float-right">
                <div class="row">
                    {{#each products}}
                    <div class="col-md-6 mt-4 mb-3 ">
                        <div class="card" style="width:15rem;height:22rem;">
                            <img class="card-img-top mt-2" style="width: 180px;height:180px"
                                src="/product_images/{{this.product._id}}.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{this.product.name}}</h5>
                                <br>
                                <h5 class="card-text">Quantity: {{this.quantity}}</h5>
                                <h6 class="card-text">Rs {{this.product.price}}</h3>
                                    {{!-- <a href="/addtocart/{{this._id}}" class="btn btn-primary ">Add to Cart</a> --}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>
    </div>
        <div class="col-md-6  ">
        <section class="container mt-4 p-5  ">
            <h2 class="display-4 text-center">Shipment Status</h2><br>
            <div class="progress" style="height: 25px;">
                <div class="progress-bar progress-bar-striped bg-{{progressBarValue.color}} progress-bar-animated"
                    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                    style="width: {{progressBarValue.value}}%">{{orderStatus.status}}</div>
            </div>
        </section>
    </div>
</div>
<style>
    .flexclass {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .card {
        box-shadow: 0 0 10px 0 rgba(73, 73, 73, 0.5);
    }

</style>